[Unit]
Description=Wallpaper System

[Service]
Type=oneshot
ExecStart=/home/kkokou/.config/i3/scripts/wallpapper.sh service

[Install]
WantedBy=graphical.target
