[Unit]
Description=Alert in case of low remaining battery

[Service]
Type=oneshot
ExecStart=/home/kkokou/.dotfiles/scripts/archlinux/alert-battery.sh

[Install]
WantedBy=graphical.target
