[Unit]
Description=Alert in case of low remaining battery

[Service]
Type=oneshot
ExecStart=/usr/bin/alert-battery.sh

[Install]
WantedBy=graphical.target
